*
{
    margin:0;
    font-family:Arial;
    box-sizing:border-box;
}
.navbar
{
    height:60px;
    background-color: #0f1111;
    color:aliceblue;
    display:flex;
}
.nav_logo
{
    height: 50px;
    width: 100px;
}
.logo
{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border
{
    border: 2px solid transparent;
}
.border:hover
{
    border: 2px solid white;
}

/**box 2**/

.address_first
{
    color:#CCCCCC;
    font-size: 0.8rem;
    margin: 15px;

}
.address_second
{
    font-size: 0.8rem;
    margin: auto;
}
.address_icon
{
    display: flex;
    align-items: center;
}